<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://unpkg.com/react@15/dist/react.js"></script>
    <script src="https://unpkg.com/react-dom@15/dist/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-sm-5 target"></div>
        </div>
    </div>

</body>

<script type="text/jsx">

var Badge = React.createClass({
    render: function(){

        return (
        <button className="btn btn-primary" type="button">
          {this.props.title} <span className="badge">{this.props.number}</span>
        </button>
        )
    }
});

var Thumbnail = React.createClass({
    render: function(){
        return (
            <div className="thumbnail">
                <img src={this.props.imageUrl} alt="..." />
                <div className="caption">
                    <h3>{this.props.header}</h3>
                    <p>{this.props.description}</p>
                    <p>
                        <Badge title={this.props.title} number={this.props.number} />
                    </p>
                </div>
            </div>
        )
    }
});

var ThumbnailList = React.createClass({
    render: function(){
        var list = this.props.thumbnailData.map(function(thumbnailProps){
            return (
                <Thumbnail {...thumbnailProps}/>
            ) 
        });

        return (
            <div>
                {list}
            </div>
        )
    }
});

var options = {
    thumbnailData: [{
        title: 'Inbox',
        number: 32,
        imageUrl: 'http://www.rd.com/wp-content/uploads/sites/2/2016/04/01-cat-wants-to-tell-you-laptop.jpg',
        header: 'Learn React',
        description: 'this is a description',
    },{
        title: 'else',
        number: 52,
        imageUrl: 'http://www.rd.com/wp-content/uploads/sites/2/2016/04/01-cat-wants-to-tell-you-laptop.jpg',
        header: 'Guld',
        description: 'even better',
    }]
};

var ele = React.createElement(ThumbnailList, options);

ReactDOM.render(ele, document.querySelector('.target'))

</script>