<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://unpkg.com/react@15/dist/react.js"></script>
    <script src="https://unpkg.com/react-dom@15/dist/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
</head>
<body>
</body>

<script type="text/jsx">

var Form = React.createClass({
    render: function(){

        return (
            <div>
                <Badge title={this.props.title} number={this.props.number} />
            </div>
        )
    }
});

var Badge = React.createClass({
    render: function(){

        return (
        <button className="btn btn-primary" type="button">
          {this.props.title} <span className="badge">{this.props.number}</span>
        </button>
        )
    }
});

var options = {
    title: 'Inbox',
    number: 32
}

var ele = React.createElement(Form, options);

ReactDOM.render(ele, document.body)

</script>